@import url('https://fonts.googleapis.com/css?family=Raleway');

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

html,body{
	min-height:100%;
}

body{
	background:linear-gradient(#f5fe02,#ffbfe6);
}

.bg-orange{
	background:	linear-gradient(to right,#ffc23d,#f5fe02);
	height: 60px ; width: 770px;
}



h1{
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		text-transform:uppercase;
		text-shadow:3px 1px #ffc23d;
		border-bottom: 1px solid orange;
}

h5{
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 20px;
		text-shadow:3px 1px #ffc23d;
}

#menu{
	position:fixed;
	bottom:2rem
	right: 2.5rem;
}
